__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses
htmlcov/
site/
.DS_Store
data/processed/*
data/warehouse/*.db
data/warehouse/*.csv
!data/raw/airplane_details.json
!data/raw/flight_events/*.csv

